beautifulsoup4
deepspeed
ebooklib
edge-tts
fuzzywuzzy
gradio
kokoro
lxml
mutagen
newspaper3k
nltk
noisereduce
numpy
openai
openai-whisper
pedalboard
pillow
pydub
pysbd
python-Levenshtein
requests
soundfile
torch
torchaudio
tqdm
transformers==4.40.2
unidecode
moshi
moshi_mlx>=0.2.11
mlx
sphn
sentencepiece
sounddevice
